---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const toggle = document.getElementById("theme-toggle");
      const link = document.getElementById("theme-css");

      if (toggle && link) {
        toggle.addEventListener("click", () => {
          const currentTheme = localStorage.getItem("theme");
          if (currentTheme === "dark") {
            localStorage.setItem("theme", "light");
            link.href = "";
          } else {
            localStorage.setItem("theme", "dark");
            link.href = "{{ '/assets/css/dark.css' | relative_url }}";
          }
        });
      }
    });
  </script>

  <body>
        
    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
